body {
  font-family: 'Press Start 2P';
  font-weight: bold;
  font-size: 2em;
}

.App {
  border-color: blue;
  border-width: 0.1em;
  border-style: solid;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding: 1em;
}

.App-header{
  text-align: center;
  color: lightskyblue;
}

.countryTable {
  border-color: lime;
  border-width: 1em;
  border-style: solid;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 0.5em;
}

.countryTable th {
  text-align: center;
  color: lightskyblue;
}

.countryTable td {
  text-align: right;
  width: 50%;
  padding-top: 0.5em;
}


button {
  background-color: white; /* Green */
  border-color: black;
  border-style: solid;
  border-width: 0.2em;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  font-family: 'Press Start 2P';
}

.score {
  color: darkred;
}